.flex-container {
    display: inline-flex;
    border: 5px solid #000;
    flex-wrap: wrap;
  }
  .flex-item {
    flex: 1 1 33.33%;
    box-sizing: border-box;
  }
  .flex-item1 {
    border: 3px solid red;
  }
  .flex-item2 {
    border: 3px solid green;
  }
  .flex-item3 {
    border: 3px solid blue;
  }
  .img-container {
    margin: 0;
    padding: 0;
  }
  .img-container>img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
