.frame{
    border: 2px solid red;
    height: 756px;
    overflow: hidden;
}
.slidewrapper{
    /* border: 3px solid green; */
    height: 100%;
    width: 800%;
    /* you get this width via 100 x # of slides */
    /* you will see overflow but you can hide the overflow */
    animation: slideshow 16s infinite;
}
.slidewrapper>div{
    width:  12.5%;
    float:  left;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@keyframes slideshow {
    0%{
        margin-left: 0%;
    }
    12.5%{
        margin-left: -100%;
    }
    25%{
        margin-left: -200%;
    }
    37.5%{
        margin-left: -300%;
    }
    50%{
        margin-left: -400%;
    }
    62.5%{
        margin-left: -500%;
    }
    75%{
        margin-left: -600%;
    }
    87.5%{
        margin-left: -700%;
    }
    100%{
        margin-left: -700%;
    }
    /* 0% =starting frame, 100% =ending frame */
}
.s1{
    /* background-color: lightblue; */
    background-image: url(images/okarun.webp);
}
.s2{
    /* background-color: lightpink; */
    background-image: url(images/momo.webp);
}
.s3{
    /* background-color: lightgreen; */
    background-image: url(images/turbocat.webp);
}
.s4{
    /* background-color: lightyellow; */
    background-image: url(images/seiko.webp);
}
.s5{
    background-image: url(images/okarun2.webp);
}
.s6{
    background-image: url(images/momo2.webp);
}
.s7{
    background-image: url(images/aira.webp);
}
.s8{
    background-image: url(images/jin.webp);
}
@media (max-width: 768px) {
    .slidewrapper {
        width: 100%;
        height: auto
    }
}